body {
    padding: 50px;
    font-family: arial;
    background-color: rgb(76, 150, 155);
    color: white;
}

.artist:hover {
    color: rgb(115, 58, 129);
}

p {
    text-align: center;
    font-size: 20px;
}

#demo {
    text-align: left 100px;
}

#artistContainer {
    text-align: center;
}

input {
    text-align: center;
    width: 150px;
    height: 25px;
    border-radius: 7px;
}

button {
    text-align: center;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(233, 172, 60);
    border: none;
}

h2 {
    text-align: center;
}
h3{
    text-align: center;
}
#someContainer{
    text-align: center;
}
#grandeInfo{
    display:none;
    text-align: center;
}
#eilishInfo{
    display:none;
    text-align: center;
}
#sherranInfo{
    display:none;
    text-align: center;
}
#mendesInfo{
    display:none;
    text-align: center;
}
#swiftInfo{
    display:none;
    text-align: center;
}
#cabelloInfo{
    display:none;
    text-align: center;
}